<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmcq.miaosha.dao.UserPasswordDOMapper">
  <resultMap id="BaseResultMap" type="com.dmcq.miaosha.dataobject.UserPasswordDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="encript_password" jdbcType="VARCHAR" property="encriptPassword" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>